.Input {
    width: 100%;
    height: 4.5rem;
    border-radius: 10px;
    color: white;
    background-color: #AA884F;
    border: 2px solid #9D7A44;
    font-size: 20px;
    padding-left: 10px; /* Define o espaço no começo */
  }

  .Input::placeholder {
    color: white;
    font-size: 20px;
    padding-left: 10px;
  }
  
  @media (max-width: 768px) {
    .Input {
      height: 3.5rem; /* Ajuste o valor conforme desejado */
      font-size: 16px;
      border: none;
      margin: 0;
    }
  
    .Input::placeholder {
      font-size: 16px;
    }
  }